<footer class="blog-footer">
  <p>
    Template Info
    <a href="https://getbootstrap.com/">Bootstrap</a>
    <%= t 'app.word.by' %>
    <a href="https://twitter.com/mdo">@mdo</a>.
  </p>
  <p>
    <a href="#">Back to Top</a>
  </p>
</footer>
